body {
    background-color: rgb(226, 223, 218);
    padding: 10px;
}

.meu-nome {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#minha-foto {
    width: 180px;
    border-radius: 150px;
    float: left;
    padding: 10px;
    background-color: rgb(69, 2, 100);
 }

.image-container {
    height: 230px;
    position: relative;
}

.descrição {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 90px;
    left: 230px;
}

.links-redes {
    font-style: italic;
}
#habilidades-orgulho {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

ul li:nth-child(odd) {
    font-weight: bold;
    color: rgb(69, 2, 100);
}

